<header>
    <div>
        <h1 class="logo"><a href="[% session.app_url %]">B.log</a></h1>
        <nav>
            [% FOREACH category in categories %]
                <a href="[% session.app_url %]/posts/category/[% category.slug %]"> [% category.name %] </a>
            [% END %]
        </nav>
        <div class="search">
            <input type="text" placeholder="search" />
            <button><i class="icon icon-search"></i></button>
        </div>
    </div>
</header>